CompileFlags:
  Remove:
    - -mmcu=*
    - -mrelax
    - -flto
    - -fno-fat-lto-objects
    - -fno-threadsafe-statics
    - -fpermissive
  Add:
    - --target=avr
    - -D__AVR_ARCH__=5
    - -D__AVR_ATmega328P__=1

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - pp_expr_bad_token_start_expr
