CompileFlags:
  Remove:
    - -mmcu=*
    - -mrelax
    - -flto
    - -fno-fat-lto-objects
    - -fno-threadsafe-statics
    - -fpermissive
    - -mlongcalls
    - -mtext-section-literals
    - -free
    - -fipa-pta
    - -Werror=*

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - pp_expr_bad_token_start_expr
