# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# VSCode
.vscode
.idea

# clangd cache and generated IntelliSense files
.cache
compile_commands.json

# Build artifacts
build/
bin/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Compiled binaries
*.bin
*.elf
*.hex
*.deb
